<%= form_for @word, url: words_path do |f| %>
  <div class="form">
    <div class="form-group">
      <%= f.text_field :original, class: "form-control", placeholder: "Word" %>
    </div>
    <div class="form-group">
      <%= f.text_field :translation, class: "form-control", placeholder: "Translation" %>
    </div>
    <%= f.fields_for @word.examples.build do |ff| %>
      <div class="form-group">
        <%= ff.text_area :body,  class: "form-control", rows: 3 %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-info btn-block btn-sm" %>
    </div>
  </div>
<% end %>
